*
{
box-sizing: border-box;
}
body
{
background-image:url("./images/bg_1.jpg");
justify-content: center;
align-items: center;
height: 130vh;
margin:0;
background-size: cover;
width: 500px;
height: 620px;
margin: auto;
background-color: white;
border-radius: 3px;

}
.header h3
{
margin:0;
text-align: center;
padding-top: 0px;
}
.header
{
border-bottom: 1px;
solid #0c0c0c;
background-color:
#ffffff
;
padding: 10px 10px
;

}
.header input
{
font-size: 16px
;
padding: 15px 10px;
width: 100%;
border:0
;
border-radius: 5px
;

outline:none
;

background-color:
#b2d3e0;
height: 3px;
margin-left: 1px;
}
.para-2 {
text-align: center;
color: rgb(12, 12, 12);
font-size: 15px;
margin-top: -10px;
}
.para-2 a {
color: #080808;
}

#b2{
    background-color: aquamarine;
    margin: top 20px; ;
}